[submodule "components/esp-idf-lua"]
	path = components/esp-idf-lua
	url = git@github.com:UncleRus/esp-idf-lua
[submodule "components/lwmem/lwmem"]
	path = components/lwmem/lwmem
	url = git@github.com:MaJerle/lwmem.git
